<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <label>Title</label>
      <input type="text" class="form-control" [(ngModel)]="bookModel.title" placeholder="Ex: Cool Book">
    </div>
    <div class="col-sm-12">
      <label>Author</label>
      <input type="text" class="form-control" [(ngModel)]="bookModel.author" placeholder="Ex: Marco Daniel">
    </div>
    <div class="col-sm-12">
      <label>Edition</label>
      <input type="number" class="form-control" [(ngModel)]="bookModel.edition" placeholder="Ex: 1">
    </div>
    <div class="col-sm-12">
      <label>Publisher</label>
      <input type="text" class="form-control" [(ngModel)]="bookModel.publisher" placeholder="Ex: HBSIS">
    </div>
    <div class="col-sm-12">
      <label>Publication year</label>
      <input type="number" class="form-control" [(ngModel)]="bookModel.yearPublication" placeholder="Ex: 2018">
    </div>
    <div class="col-sm-12">
      <label>Price R$</label>
      <input type="number" step="0.01" class="form-control" [(ngModel)]="bookModel.price" placeholder="Ex: 100.00">
    </div>
  </div>
</div>
<div class="footer">
  <button class="btn btn-primary" (click)="save()">Save</button>
</div>